<h1>tools are not working</h1>
<app-bar-graph [data] = "data" [svgHeight]="400" [svgWidth]="600"></app-bar-graph>
<app-piechart [data] = "data" [svgHeight]= "300" [svgWidth]= "300" [radius]= "150"></app-piechart>
<app-sun-burst [svgHeight] = "600" [svgWidth]= "600" [data]="sunburst"></app-sun-burst>
<app-line-graph [svgHeight] = "600" [svgWidth]= "600" ></app-line-graph>



<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-12 col-md-6">-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--        <app-chart></app-chart>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      2 of 2-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
